@tailwind base;
@tailwind components;
@tailwind utilities;

.bd-map {
  height: 920px;
}

.bd-map .district {
}

.bd-map .district:hover {
  stroke-width: 1px;
  stroke: rgb(197, 197, 197);
  cursor: pointer;
}

.bd-map .district-label {
  cursor: pointer;
  font-size: 10px;
}

.bd-map .district-border {
  stroke: rgb(221, 221, 221);
  stroke-width: 2px;
  fill: none;
}

.confirmed-circle {
  fill: #f7800880;
  stroke-width: 5px;
  stroke-opacity: 1;
}

.passed-away-circle {
  fill: #ff000080;
  stroke-width: 5px;
  stroke-opacity: 1;
}
